body {
  font-family: Arial, sans-serif;
  background-color: #f5f5f5;
  margin: 0;
  height: 80vh;
  padding: 20px;
}

h1 {
  text-align: center;
  color: #333;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#search-form {
  text-align: center;
  margin-bottom: 20px;
}

#search-input {
  padding: 10px;
  width: 300px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

#search-input:focus {
  outline: none;
}

#search-button {
  padding: 10px 20px;
  background-color: #CA1B31;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

#search-button:hover {
  background-color: #CA1B31;
}

#search-results {
  margin-top: 20px;
  padding: 10px;
  border: 1px solid #ccc;
  background-color: #fff;
  border-radius: 4px;
}

#search-results p {
  margin: 0;
  padding: 5px;
}
#resultCount{
  border: solid;
  padding: 10px;
  border-color: #a21427;
}
footer {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  background-color: #333;
  color: #fff;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 60px;
}

.footer-icons {
  display: inline-block;
  margin: 0 10px;
  
}

.footer-icons a {
  color: #fff;
  text-decoration: none;
}
#videosContainer {
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  justify-content: center;
}

#videosContainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
}

.video-wrapper {
  position: relative;
  padding-bottom: 56.25%;
  /* 16:9 aspect ratio (height/width) */
  overflow: hidden;
}

.video-wrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* margin-top: 58px; */
}
.video-wrapper p {
  position: absolute;
  top: 0;
  left: 0;
  margin: 0;
  padding: 10px;
  /* background-color: rgba(0, 0, 0, 0.5);
  color: #fff; */
  font-size: 22px;
}

/* Responsive settings for mobile devices */
@media screen and (max-width: 768px) {
  #videosContainer {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 480px) {
  #videosContainer {
    grid-template-columns: repeat(1, 1fr);
  }
}